#bottom-footer-container {
  display: flex;
  flex-direction: column;
  background-color: #363636;
  padding: 1rem 0 1rem 0;
  width: 100%;
  height: 100%;
}

#footer-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#footer-social-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 60%;
}

#footer-social-bar a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-left: 0.5px solid #9a9b9c;
}

#footer-social-bar a:hover {
  color: #9a9b9c;
  transition: 1.5s ease;
}

#footer-copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  color: white;
}

.footer-icons {
  color: #b71234;
}

@media (max-width: 60em) {
  #footer-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #footer-social-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #footer-social-bar a {
    border-top: 0.1px solid#9a9b9c;
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
  #footer-copyright {
    font-size: 12px;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
  }
}
