#table-container {
  display: flex;
  width: 80%;
  margin-left: 15%;
}
#table-style {
  border-collapse: collapse;
  height: auto;
  width: 115%;
}

#table-style th {
  border: 1px solid #d6d6d6;
  border-left: 0px;
  border-right: 0px;
  text-align: left;

  padding: 1.3rem 0 1.3rem 0;
  font-size: clamp(0.8rem, 100%, 2rem);
}

@media (max-width: 60em) {
  #table-container {
    width: 100%;
    margin: 0;
  }
}
