#quote-button {
  background-color: #b71234;
  border: none;
  border-radius: 52px;
  font-size: clamp(0.6rem, 1.25vw, 2rem);
  font-weight: 700;
  color: white;
  padding: 1%;
  width: 18%;
}

#quote-button:hover {
  cursor: pointer;
}
