.footer-menu-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: #9a9b9c;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menu-style {
  color: white;
  list-style-type: none;
  padding: 1.5rem 5rem 1.5rem 5rem;
}
.menu-style h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.menu-style li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

@media (max-width: 70em) {
  .footer-menu-container {
    display: none;
  }
}
